    <header class="transparent">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex">
                            <div class="de-flex-col">
                                <!-- logo begin -->
                                <div id="logo">
                                    <a href="index" class="text-decoration-none">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2 rounded-2 overflow-hidden border border-white-op-2 d-none d-sm-block" style="width:48px;height:48px;" title="CylinderMargin LDA">
                                                <img src="assets/images/misc/cylindermargin-github-mark.png" alt="CylinderMargin" width="200" height="56" class="d-block" style="height:48px;width:auto;max-width:none;margin:0;">
                                            </div>
                                            <span class="fs-24 fw-bold text-white tracking-widest">IRIA</span>
                                            <span class="fs-10 text-uppercase text-white ms-2 op-5">Summit<br>Portugal</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- logo close -->
                            </div>

                            <div class="de-flex-col">
                                <div class="de-flex-col header-col-mid">
                                    <ul id="mainmenu">
                                        <li><a class="menu-item active" href="#section-hero">Início</a></li>
                                        <li><a class="menu-item" href="#section-about">O Projeto</a></li>
                                        <li><a class="menu-item" href="#section-phases">As 3 Cidades</a></li>
                                        <li><a class="menu-item" href="#section-schedule">Programa</a></li>
                                        <li><a class="menu-item" href="#section-partners">Parceiros</a></li>
                                        <li><a class="menu-item" href="#section-legal">Institucional</a></li>
                                        <li><a class="menu-item" href="#section-faq">FAQs</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="de-flex-col">
                                <a class="btn-main fx-slide w-100" href="#section-tickets"><span>Bilhetes</span></a>

                                <div class="menu_side_area">
                                    <span id="menu-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
