        <section class="section-dark p-0" aria-label="Mensagens IRIA SUMMIT BRASIL">
            <div class="bg-color text-light d-flex py-4 lh-1 rot-2">
              <div class="de-marquee-list-1 wow fadeInLeft" data-wow-duration="3s">
                <span class="fs-60 mx-3">Inteligência com Propósito</span>
                <span class="fs-60 mx-3 op-2">/</span>
                <span class="fs-60 mx-3">Futuro com Consciência</span>
                <span class="fs-60 mx-3 op-2">/</span>
                <span class="fs-60 mx-3">IA para a Vida Real</span>
                <span class="fs-60 mx-3 op-2">/</span>
                <span class="fs-60 mx-3">Regeneração em Movimento</span>
                <span class="fs-60 mx-3 op-2">/</span>
                <span class="fs-60 mx-3">Brasil Pensa o Futuro</span>
                <span class="fs-60 mx-3 op-2">/</span>
              </div>
            </div>

            <div class="bg-color-2 text-light d-flex py-4 lh-1 rot-min-1 mt-min-20">
              <div class="de-marquee-list-2 wow fadeInRight" data-wow-duration="3s">
                <span class="fs-60 mx-3">Inovação com Direção</span>
                <span class="fs-60 mx-3 op-2">/</span>
                <span class="fs-60 mx-3">Território e Transformação</span>
                <span class="fs-60 mx-3 op-2">/</span>
                <span class="fs-60 mx-3">Humanizar a Inteligência</span>
                <span class="fs-60 mx-3 op-2">/</span>
                <span class="fs-60 mx-3">Inclusão em Escala</span>
                <span class="fs-60 mx-3 op-2">/</span>
                <span class="fs-60 mx-3">Da Visão à Aplicação</span>
                <span class="fs-60 mx-3 op-2">/</span>
              </div>
            </div>
        </section>
