        <section id="section-contactos" class="bg-dark section-dark text-light pt-100 pb-80 relative" aria-label="Contactos oficiais">
            <div class="container relative z-2">
                <div class="row g-4 justify-content-center">
                    {% include 'partials/email-directory.html.twig' %}
                </div>
            </div>
        </section>
