<head>
    <title>IRIA SUMMIT PORTUGAL 2026 — CylinderMargin LDA</title>
    <link rel="icon" href="assets/images/icon.webp" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" >
    <meta content="IRIA SUMMIT PORTUGAL 2026 — plataforma portuguesa de encontro e aplicação prática da inteligência artificial. Ovar, Santa Maria da Feira e Aveiro." name="description" >
    <meta content="IRIA Summit, Portugal, IA, inteligência artificial, Ovar, Aveiro, Santa Maria da Feira, CylinderMargin, 2026" name="keywords" >
    <meta content="CylinderMargin LDA" name="author" >
  