<head>
    <title>AIvent - AI Event, Conference and Meetup Website Template</title>
    <link rel="icon" href="assets/images/icon.webp" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" >
    <meta content="AIvent" name="description" >
    <meta content="" name="keywords" >
    <meta content="" name="author" >
  