{% extends 'partials/layouts/master2.html.twig' %}

{% block page_contents %}

        <section id="section-hero" class="section-dark no-top no-bottom text-light jarallax relative mh-500 jarallax">
            <img src="assets/images/background/3.webp" class="jarallax-img" alt="">
            <div class="gradient-edge-bottom h-50"></div>
            <div class="sw-overlay op-5"></div>
            <div class="abs bottom-10 z-2 w-100">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-8">
                            <h1 class="text-start fs-48 fs-sm-10vw wow fadeIn" data-wow-delay=".6s">
                                Global Design Minds to Converge at 2025 Design Expo Conference
                            </h1>

                        </div>

                        <div class="col-lg-2">
                            <div class="relative text-lg-end">
                                <div class="d-inline-block z-2 bg-color rounded-1 text-white p-4 text-center fw-600 wow fadeIn" data-wow-delay="1s">
                                    <h4 class="fs-60 mb-0 lh-1">28</h4>
                                    <span class="fs-20 fw-60">May</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section>
            <div class="container">
                <div class="row g-4 justify-content-center">
                    <div class="col-lg-10">
                        <div class="blog-read">

                            <div class="post-text">

                                <img src="assets/images/misc/sd1.webp" class="w-100 rounded-1 mb-4" alt="">

                                <p>The 2025 Design Expo Conference is set to become the epicenter of global design innovation, as top creatives, technologists, and thought leaders gather to explore the future of design across industries. Scheduled for October 1–5, 2025 in San Francisco, the event promises to showcase cutting-edge design practices, technological integrations, and visionary ideas that are shaping the next generation of user experience, product development, and visual storytelling.</p>

                                <p>Bringing together architects, UX/UI designers, product innovators, AI enthusiasts, and creative directors from over 50 countries, the conference serves as a collaborative platform to exchange knowledge, trends, and tools transforming the design ecosystem. Key themes for this year include AI-driven creativity, sustainability in design, spatial computing, and inclusive design methodologies.</p>

                                <h5>Highlights of the 2025 Design Expo include:</h5>

                                <ul class="ul-check">
                                    <li>Keynote addresses by global design icons and industry disruptors</li>
                                    <li>Hands-on workshops covering tools like Figma, Adobe Firefly, Midjourney, and more</li>
                                    <li>Panel discussions on the ethical impact of generative AI in design</li>
                                    <li>Startup design showcases and prototype exhibitions</li>
                                    <li>Networking zones connecting talent with top design-led companies</li>
                                </ul>

                                <p>In addition to in-person attendance, the event will feature a hybrid format with virtual access to all keynotes and live panels, allowing participants from around the world to engage and collaborate.</p>

                                <p>Whether you're a seasoned professional or a rising designer, the 2025 Design Expo Conference is the ultimate opportunity to stay ahead of the curve and shape what’s next in the world of design.</p>

                            </div>

                        </div>

                        <div class="spacer-single"></div>

                        <div id="blog-comment">
                            <h4>Comments (5)</h4>

                            <div class="spacer-half"></div>

                            <ol>
                                <li>
                                    <div class="avatar">
                                        <img src="assets/images/team/1.webp" class="w-70px" alt="" ></div>
                                    <div class="comment-info">
                                        <span class="c_name text-light">Merrill Rayos</span>
                                        <span class="c_date id-color">2 days ago</span>
                                        <span class="c_reply"><a href="#">Reply</a></span>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="comment">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</div>
                                    <ol>
                                        <li>
                                            <div class="avatar">
                                                <img src="assets/images/team/2.webp" class="w-70px" alt="" ></div>
                                            <div class="comment-info">
                                                <span class="c_name text-light">Jackqueline Sprang</span>
                                                <span class="c_date id-color">2 days ago</span>
                                                <span class="c_reply"><a href="#">Reply</a></span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="comment">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                                explicabo.</div>
                                        </li>
                                    </ol>
                                </li>

                                <li>
                                    <div class="avatar">
                                        <img src="assets/images/team/3.webp" class="w-70px" alt="" ></div>
                                    <div class="comment-info">
                                        <span class="c_name text-light">Sanford Crowley</span>
                                        <span class="c_date id-color">2 days ago</span>
                                        <span class="c_reply"><a href="#">Reply</a></span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="comment">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</div>
                                    <ol>
                                        <li>
                                            <div class="avatar">
                                                <img src="assets/images/team/4.webp" class="w-70px" alt="" ></div>
                                            <div class="comment-info">
                                                <span class="c_name text-light">Lyndon Pocekay</span>
                                                <span class="c_date id-color">2 days ago</span>
                                                <span class="c_reply"><a href="#">Reply</a></span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="comment">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                                explicabo.</div>
                                        </li>
                                    </ol>
                                </li>

                                <li>
                                    <div class="avatar">
                                        <img src="assets/images/team/5.webp" class="w-70px" alt="" ></div>
                                    <div class="comment-info">
                                        <span class="c_name text-light">Aleen Crigger</span>
                                        <span class="c_date id-color">2 days ago</span>
                                        <span class="c_reply"><a href="#">Reply</a></span>

                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="comment">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</div>
                                </li>
                            </ol>

                            <div class="spacer-single"></div>

                            <div id="comment-form-wrapper">
                                <h4>Leave a Comment</h4>
                                <div class="comment_form_holder">
                                    <form id="contact_form" name="form1" class="form-border" method="post" action="#">

                                        <label>Name</label>
                                        <input type="text" name="name" id="name" class="form-control mb-4" >

                                        <label>Email <span class="req">*</span></label>
                                        <input type="text" name="email" id="email" class="form-control mb-4" >
                                        <div id="error_email" class="error">Please check your email</div>

                                        <label>Message <span class="req">*</span></label>
                                        <textarea cols="10" rows="10" name="message" id="message" class="form-control mb-4"></textarea>
                                        <div id="error_message" class="error">Please check your message</div>
                                        <div id="mail_success" class="success">Thank you. Your message has been sent.</div>
                                        <div id="mail_failed" class="error">Error, email not sent</div>
                                        <a class="btn-main fx-slide" href="#"><span>Submit</span></a>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
        </section>        

    </div>

{% endblock %}

{% block page_scripts %}
    <script src="assets/js/countdown-custom.js"></script>
    <script src="assets/js/custom-marquee.js"></script>
{% endblock %}