{% extends 'partials/layouts/master.html.twig' %}

{% block page_contents %}

        <section id="section-hero" class="section-dark no-top no-bottom text-light jarallax relative mh-500 jarallax">
            <img src="assets/images/background/3.webp" class="jarallax-img" alt="">
            <div class="gradient-edge-bottom h-50"></div>
            <div class="sw-overlay op-5"></div>
            <div class="abs w-80 bottom-10 z-2 w-100">
                <div class="container">
                    <div class="row align-items-center justify-content-between gx-5">
                        <div class="col-lg-6">
                            <div class="relative wow mask-right">
                                <div class="text-start">
                                    <h1 class="fs-96 text-uppercase fs-sm-10vw mb-0 lh-1">News</h1>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 wow fadeInRight" data-wow-delay=".3s">
                            <p class="mb-0">Join thought leaders, developers, researchers, and founders as we explore how artificial intelligence is reshaping industries, creativity.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section>
            <div class="container">
                <div class="row g-4">

                    <div class="col-lg-4">
                        <a href="news-single" class="d-block hover relative rounded-20 overflow-hidden text-light">
                            <div class="abs z-2 bg-color rounded-2 text-white p-3 pb-2 m-4 text-center fw-600">
                                <h4 class="fs-36 mb-0 lh-1">28</h4>
                                <span>May</span>
                            </div>

                            <img src="assets/images/news/s1.webp" class="w-100 hover-scale-1-1" alt="">

                            <div class="absolute start-0 bottom-0 p-4 z-2">
                                <h4>The AI Conference 2025 Set to Discuss AGI and Neural Architectures in SF</h4>
                            </div>

                            <div class="gradient-edge-bottom h-70"></div>
                        </a>
                    </div>

                    <div class="col-lg-4">
                        <a href="news-single" class="d-block hover relative rounded-20 overflow-hidden text-light">
                            <div class="abs z-2 bg-color rounded-2 text-white p-3 pb-2 m-4 text-center fw-600">
                                <h4 class="fs-36 mb-0 lh-1">27</h4>
                                <span>May</span>
                            </div>

                            <img src="assets/images/news/s2.webp" class="w-100 hover-scale-1-1" alt="">

                            <div class="absolute start-0 bottom-0 p-4 z-2">
                                <h4>Tony Blair Advocates for AI Integration in UK Healthcare and Education</h4>
                            </div>

                            <div class="gradient-edge-bottom h-70"></div>
                        </a>
                    </div>

                    <div class="col-lg-4">
                        <a href="news-single" class="d-block hover relative rounded-20 overflow-hidden text-light">
                            <div class="abs z-2 bg-color rounded-2 text-white p-3 pb-2 m-4 text-center fw-600">
                                <h4 class="fs-36 mb-0 lh-1">26</h4>
                                <span>May</span>
                            </div>

                            <img src="assets/images/news/s3.webp" class="w-100 hover-scale-1-1" alt="">

                            <div class="absolute start-0 bottom-0 p-4 z-2">
                                <h4>Apple's WWDC 2025 Faces Low Investor Expectations Over Siri AI Delay</h4>
                            </div>

                            <div class="gradient-edge-bottom h-70"></div>
                        </a>
                    </div>

                    <div class="col-lg-4">
                        <a href="news-single" class="d-block hover relative rounded-20 overflow-hidden text-light">
                            <div class="abs z-2 bg-color rounded-2 text-white p-3 pb-2 m-4 text-center fw-600">
                                <h4 class="fs-36 mb-0 lh-1">25</h4>
                                <span>May</span>
                            </div>

                            <img src="assets/images/news/s4.webp" class="w-100 hover-scale-1-1" alt="">

                            <div class="absolute start-0 bottom-0 p-4 z-2">
                                <h4>NYC Tech Week Highlights Human Skills' Value in AI-Dominated Discussions</h4>
                            </div>

                            <div class="gradient-edge-bottom h-70"></div>
                        </a>
                    </div>

                    <div class="col-lg-4">
                        <a href="news-single" class="d-block hover relative rounded-20 overflow-hidden text-light">
                            <div class="abs z-2 bg-color rounded-2 text-white p-3 pb-2 m-4 text-center fw-600">
                                <h4 class="fs-36 mb-0 lh-1">24</h4>
                                <span>May</span>
                            </div>

                            <img src="assets/images/news/s5.webp" class="w-100 hover-scale-1-1" alt="">

                            <div class="absolute start-0 bottom-0 p-4 z-2">
                                <h4>Data + AI Summit 2025 to Explore Data Engineering and Machine Learning</h4>
                            </div>

                            <div class="gradient-edge-bottom h-70"></div>
                        </a>
                    </div>

                    <div class="col-lg-4">
                        <a href="news-single" class="d-block hover relative rounded-20 overflow-hidden text-light">
                            <div class="abs z-2 bg-color rounded-2 text-white p-3 pb-2 m-4 text-center fw-600">
                                <h4 class="fs-36 mb-0 lh-1">23</h4>
                                <span>May</span>
                            </div>

                            <img src="assets/images/news/s6.webp" class="w-100 hover-scale-1-1" alt="">

                            <div class="absolute start-0 bottom-0 p-4 z-2">
                                <h4>World Summit AI 2025 in Amsterdam to Focus on Generative AI Trends</h4>
                            </div>

                            <div class="gradient-edge-bottom h-70"></div>
                        </a>
                    </div>     

                    <!-- pagination begin -->
                    <div class="col-lg-12 pt-4 text-center">
                        <div class="d-inline-block">
                            <nav aria-label="Page navigation example">
                              <ul class="pagination">
                                <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
                                  </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active" aria-current="page"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
                                  </a>
                                </li>
                              </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- pagination end -->
                    
                </div>
            </div>
        </section>        

    </div>
{% endblock %}

{% block page_scripts %}
    <script src="assets/js/countdown-custom.js"></script>
    <script src="assets/js/custom-marquee.js"></script>
{% endblock %}