<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRIA SUMMIT BRASIL 2026 - Central Operacional</title>
    <link rel="icon" href="/assets/images/icon.webp" type="image/gif" sizes="16x16">
    <meta content="IRIA SUMMIT BRASIL é uma plataforma brasileira de encontro, articulação e aplicação prática da inteligência artificial numa perspetiva inclusiva, regenerativa, territorial e estrategicamente orientada." name="description" >
    <meta content="CylinderMargin LDA" name="author" >

    <!-- Bootstrap & Vendor CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/vendors.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors/scheme-01.css" rel="stylesheet" type="text/css">

    <!-- Compiled React App CSS -->
    <link rel="stylesheet" href="/react-build/assets/index.css">
</head>
<body class="dark-scheme bg-dark-1">
    <div id="react-root"></div>
    
    <!-- Compiled React App JS -->
    <script type="module" src="/react-build/assets/index.js"></script>
</body>
</html>
